{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home-styles.css') }}">
{% endblock %}
{% block content %}
    <header>
        <a href="#" class="logo text-decoration-none fw-semibold">Healthier</a>
        <div class="bx bx-menu" id="div1"></div>

        <ul class="navigation">
            <li><a href="{{ url_for('quiz') }}" class="invis text-decoration-none">Quiz</a></li>
            <li><a href="{{ url_for('leaderboard') }}" class="invis text-decoration-none">Leaderboard</a></li>
            <li><a id="login" href="{{ url_for('logout') }}" class="text-decoration-none">Logout</a></li>
        </ul>
    </header>
    <!-- About Us Section-->
<section class="front-home" id="front-home">
    <br>
    <div class="template-header mt-5">
        <span>Welcome!</span>
        <h2 class="fw-bold">Welcome to Healthier</h2>
        <p>Feel free explore our website!</p>
    </div>
    <div class="front-homec">
        <div class="box">
            <a href="{{ url_for('calculator') }}"><img src="{{ image_fit }}"></a>
            <a href="{{ url_for('calculator') }}"><h3 class="fw-bold">Fitness Calculator</h3></a>
            <p>Healthier provides you with a calorie calculator. All you have to do is click the picture above to explore a new world of fitness.</p>
        </div>
        <div class="box">
            <a href="https://www.youtube.com/watch?v=Gmh_xMMJ2Pw" target="_blank"><img src="{{ image_apple }}"></a>
            <a href="https://www.youtube.com/watch?v=Gmh_xMMJ2Pw" target="_blank"><h3 class="fw-bold">Healthy Eating</h3></a>
            <p>Learn how to construct a healthy and balanced meal that will help you in your
                journey to become as healthy as you can be. All you have to do is click the picture above!</p>
        </div>
        <div class="box">
            <a href="https://www.youtube.com/watch?v=fk-_SwHhLLc" target="_blank"><img src="{{ image_sleep }}"></a>
            <a href="https://www.youtube.com/watch?v=fk-_SwHhLLc" target="_blank"><h3 class="fw-bold">Sleeping Habits</h3></a>
            <p>Want to learn how to improve your sleeping habits? All you have to do is click the picture above!</p>
        </div>
    </div>
</section>

<!-- Blog Section-->
<section class="blog" id="blog">
    <div class="blogimg">
        <img src="{{ image_comm }}">
    </div>
    <div class="blogtxt">
        <span>Quiz</span>
        <h2 class="fw-bold">Quizzes?</h2>
        <p>Take the quiz and appear on our leaderboard!
        </p>
        <a href="{{ url_for('quiz') }}" class="button text-decoration-none">Click here to start!</a>
    </div>
</section>
{% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock content %}