* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.wrapper {
  width: 420px;
}

.wrapper div {
  margin: 30px auto;
}

.btn {
  outline-color: red;
}

#logintitle {
  font-size: 2.2em;
  font-weight: 500px;
  text-align: center;
}