{% extends "layout.html" %}
{% block content %}
<header>
    <a href="#" class="logo">Healthier</a>
    <div class="bx bx-menu" id="div1"></div>

    <ul class="navigation">
        <li><a href="#home" class="invis">Home</a></li>
        <li><a href="#about" class="invis">About Us</a></li>
        <li><a href="#goal" class="invis">Goal</a></li>
        <li><a id="login" href="{{ url_for('login') }}">Login</a></li>
    </ul>
</header>
<!-- Home Section -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
<section class="home" id="home">
    <div class="hometxt">
        <h1>Healthier.</h1>
        <p>Here at Healthier, we revolutionize the way we approach and encourage healthy living by providing tools,
            resources, and solutions that empower
            individuals to make informed choices about their health.
        </p>
        <a href="#" class="button">Start your journey >>></a>
    </div>
    <div class="homeimg">
        <img src="{{ image_veg }}">
    </div>
</section>

<!-- About Us Section-->
<section class="about" id="about">
    <div class="template-header">
        <span>About Us</span>
        <h2>About Healthier</h2>
        <p>So, what exactly do we do here at Healthier?</p>
    </div>
    <div class="aboutc">
        <div class="box">
            <img src="{{ image_about }}">
            <h3>Get Fit</h3>
            <p>Healthier provides you with different recommendations on how to keep in shape according to your
                specific needs.</p>
        </div>
        <div class="box">
            <img src="{{ image_veg }}">
            <h3>Eat Healthy</h3>
            <p>Healthier teaches you on how to construct a healthy and balanced meal that will help you in your
                journey to become as healthy as you can be.</p>
        </div>
        <div class="box">
            <img src="{{ image_sleep }}">
            <h3>Sleeping Habits</h3>
            <p>Healthier provides you with information on how to improve your sleeping habits.</p>
        </div>
    </div>
</section>

<!-- Goal Section-->
<section class="goal" id="goal">
    <div class="goalimg">
        <img src="{{ image_about }}">
    </div>
    <div class="goaltxt">
        <span>Goals</span>
        <h2>Fitness? Yes!</h2>
        <p>Keeping our bodies fit can help us prevent detrimental ailments, chronic diseases, and make us fitter!
        </p>
        <a href="#" class="button">Learn More</a>
    </div>
</section>
{% endblock content %}