<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Join Today</legend>
                <div>
                    form.username.label(class="form-control-label")
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>